:root {
  --accent: rgb(120,226,160);
  --accent-alpha-70: rgba(120,226,160,.7);
  --accent-alpha-20: rgba(120,226,160,.2);

  --background: #1F222A;
  --verybackground: #101010;
  --text-colour: #A9B7C6;
  --color: white;
  --border-color: rgba(255, 255, 255, .1);

  --accent: #78e2a0;
  --accent-dim: #58a374;
}

/* Pretty! */
@font-face {
  font-family: "Alagard";
  src: url("/fonts/alagard.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alagard";
  src: url("/fonts/hack-regular-subset.woff2?sha=3114f1256") format("woff2"), url("fonts/hack-regular-subset.woff?sha=3114f1256") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Nice but only for front, hard otherwise */
@font-face {
  font-family: "04b03";
  src: url("/fonts/04b03.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Unreadable but maybe titles? */
@font-face {
  font-family: "upheaval";
  src: url("/fonts/upheavtt.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* ...idk */
/* @font-face {
  font-family: "dos";
  src: url("/fonts/Perfect DOS VGA 437 Winupheavtt.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
/* Good for title but bad brackets */
@font-face {
  font-family: "04b25";
  src: url("/fonts/04b25.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Great for reading */
@font-face {
  font-family: "Hack";
  src: url("/fonts/hack-regular-subset.woff2?sha=3114f1256") format("woff2"), url("fonts/hack-regular-subset.woff?sha=3114f1256") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Hack";
  src: url("/fonts/hack-bold-subset.woff2?sha=3114f1256") format("woff2"), url("fonts/hack-bold-subset.woff?sha=3114f1256") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Hack";
  src: url("/fonts/hack-italic-subset.woff2?sha=3114f1256") format("woff2"), url("fonts/hack-italic-webfont.woff?sha=3114f1256") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Hack";
  src: url("/fonts/hack-bolditalic-subset.woff2?sha=3114f1256") format("woff2"), url("fonts/hack-bolditalic-subset.woff?sha=3114f1256") format("woff");
  font-weight: 700;
  font-style: italic;
}

html {
  background-color: var(--verybackground);
  font-family: sans-serif;
}

body {
  color: var(--text-colour);
  font-family: "Hack", sans-serif;
  margin: 0 auto;
  width: 100%;
  max-width: 80%;
  padding: 1rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "04b25", sans-serif;
}

* {
  box-sizing: border-box;
}

a:link { color: var(--accent); }
a:visited { color: var(--accent); }

/* h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
} */

li {
  padding-left: 5px;
}
li::marker {
	content:"-";
	color: var(--accent);
}

.post-date {
  color: var(--accent-alpha-70)
}
.post-tags {
  color: var(--text-colour);
  opacity: .5;
  a:link { color: var(--text-colour); }
  a:visited { color: var(--text-colour); }
}
.post-title {
  --border: 2px dashed var(--accent);
  position: relative;
  color: var(--accent);
  /* margin: 0 0 15px; */
  padding-bottom: 15px;
  border-bottom: var(--border);
  /* border-bottom: rgba(255, 255, 255, .1);  */
  /* var(--border); */
  /* font-weight: normal; */
}