
<div class="footerinfo">
	Katherine Smith Awesome Site :: Mead Forest :: by Katherine Smith
</div>

<style>
  .footerinfo {
    padding: .5em 1em;
	color: var(--text-colour);
	opacity: 0.5;
  }
</style>
