---
import KatQuote from './KatQuote.astro';
import Navigation from './Navigation.astro';
---

<header>
  <div class="logo">
	<span style="float: right;"><KatQuote /></span>
	<h1>Katherine Smith Awesome Site</h1>
  </div>
  
  <Navigation />
</header>

<style>
	header {
		background-image: url("/src/assets/stars.jpg");
		margin: 4px;
		padding: 22px;
		border: 2px solid #d6e9ff;
		border-radius: 6px;
		align-items: center;
		align-content: center;
		align-self: center;
		text-align: center;
	}
</style>
